<h1><%= @post [:title] %></h1>
<p><%= @post [:post_body] %></p>
<form action="/posts/<%= @post[:id] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
<a href="/posts/<%= @post[:id] %>/edit">Edit</a>
