<form action="/cars/<%= @car[:id] %>" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="title" placeholder="enter a title" value="<%= @car[:title] %>">
  </div>
  <div>
    <label>Body</label>
    <textarea name="car_body" placeholder="the body of text" ><%= @car[:car_body] %></textarea>
  </div>
  <div>
    <label>Image</label>
    <input type="text" name="image" placeholder="enter an image link" value="<%= @car[:image] %>">
  </div>
  <div>
    <input type="submit" value="save the post">
  </div>
  <% if(@car[:id] != "") %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
